# Functions

#### Warm up

In [1]:
bands = ['  thE beATles   ', 'tHe RoLLing sTones..', '.,tHe eagles', 'the tEMptationS  ']

[b.strip(' .,').title() for b in bands]

['The Beatles', 'The Rolling Stones', 'The Eagles', 'The Temptations']

In [ ]:
# Output: ['The Beatles', 'The Rolling Stones', etc]

In [6]:
bands2 = [' The whO  ', '  .   , tHE dOORS  ', ' the bAnd   ', '...,  THE kINks    ']

[b.strip(' .,').title() for b in bands2]

['The Who', 'The Doors', 'The Band', 'The Kinks']

## Functions

##### User-Defined vs. Built-In Function

In [8]:
# Built-in functions
print(max)
help(max)

<built-in function max>
Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [10]:
# User Defined Function
# Syntax: def function_name():
#             <CODE TO EXECUTE WHEN CALLED>

# Creating a function
def say_hello(): # <-- DEFINING THE FUNCTION
    print('Hello!')
    
    
print(say_hello)
say_hello

<function say_hello at 0x0000015A483BA820>

In [11]:
help(say_hello)

Help on function say_hello in module __main__:

say_hello()
    # Creating a function

In [12]:
print(type(say_hello))

<class 'function'>

In [13]:
# Executing a function
# Syntax: function_name()

print('Before the function runs')
say_hello() # <-- EXECUTING/CALLING/INVOKING THE FUNCTION
print('After the function runs')

Before the function runs
Hello!
After the function runs

##### Accepting Parameters

In [17]:
# Syntax: def function_name(param1, param2):
#             <CODE TO EXECUTE with variable param1 and param2>
def say_hello2(first, last): # <-- `first` and `last` are paramaters (aka placeholders)
    print(f"first: {first}")
    print(f"last: {last}")
    print(f"Hello {first} {last}!")

    
# Execute
# Syntax: function_name(data1, data2)

say_hello2('Brian', 'Stanton') # <-- `Brian` and `Stanton` are arguments (aka real data)
say_hello2('Stanton', 'Brian')

first: Brian
last: Stanton
Hello Brian Stanton!
first: Stanton
last: Brian
Hello Stanton Brian!

##### Passing in variables as parameters

In [19]:
city1 = 'Boston'
state1 = 'MA'
zip_code1 = '02215'


city2 = 'New York'
state2 = 'NY'
zip_code2 = '10451'


def format_address(city_name, state_name, zip_code):
    print(f"{city_name}, {state_name} -- {zip_code}")
    
    
format_address(city1, state1, zip_code1)
format_address(city2, state2, zip_code2)

Boston, MA -- 02215
New York, NY -- 10451

##### Keyword Arguments

In [20]:
def make_a_payment(total_amount_due, amount_paid, account_number):
    new_total = total_amount_due - amount_paid
    print(f"You have made a payment of ${amount_paid} to Account #{account_number}")
    print(f"Your new balance is ${new_total}")
    print("Thank you for your payment")
    
    
make_a_payment(1000, 100, '23598753')

You have made a payment of $100 to Account #23598753
Your new balance is $900
Thank you for your payment

In [24]:
make_a_payment(1000, account_number='3950859', amount_paid=50)

You have made a payment of $50 to Account #3950859
Your new balance is $950
Thank you for your payment

##### Default Parameters

In [26]:
# default parameters need to be AFTER non-default paramaters at all times

def make_a_burger(customer_name, cheese=True, lettuce=True, tomato=True, onions=None):
    total_price = 9.50
    message = f'Thank you {customer_name}. Here is your receipt:\n'
    message += '1 Hamburger\n'
    if cheese:
        message += '\twith cheese\n'
    if lettuce:
        message += '\twith lettuce\n'
    if tomato:
        message += '\twith tomato\n'
    if onions:
        message += f'\twith {onions} onions\n'
        total_price += .50
    message += f'Total: ${total_price:.2f}'
    print(message)
    
    
    
make_a_burger('Brian')

Thank you Brian. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with tomato
Total: $9.50

In [28]:
make_a_burger('Claire', True, False, False)

Thank you Claire. Here is your receipt:
1 Hamburger
	with cheese
Total: $9.50

In [29]:
make_a_burger('David', tomato=False, onions='grilled')

Thank you David. Here is your receipt:
1 Hamburger
	with cheese
	with lettuce
	with grilled onions
Total: $10.00

In [32]:
say_hello2('Brian', 'Patrick', 'Stanton')

TypeError: say_hello2() takes 2 positional arguments but 3 were given

##### \*args and **kwargs

In [33]:
help(max)

Help on built-in function max in module builtins:

max(...)
    max(iterable, *[, default=obj, key=func]) -> value
    max(arg1, arg2, *args, *[, key=func]) -> value

    With a single iterable argument, return its biggest item. The
    default keyword-only argument specifies an object to return if
    the provided iterable is empty.
    With two or more arguments, return the largest argument.

In [38]:
max(4, 6, 7, 2, 6, 2, 6, 2, 6, 8, 2, 55, 56, 45, 345, 35, 1345345)

1345345

In [51]:
def my_function(arg1, arg2, *args, **kwargs):
    print(arg1)
    print(arg2)
    print(args)
    print(type(args))
    for a in args:
        print(a)
    print(kwargs)
    print(type(kwargs))
    
    
    
my_function('a', 'b', 'c', 'd', 'e', 'f', 'g', key='value', num=10)

a
b
('c', 'd', 'e', 'f', 'g')
<class 'tuple'>
c
d
e
f
g
{'key': 'value', 'num': 10}
<class 'dict'>

#### In Class Exercise 1

Create a function that takes in a color, make, and model and formats it into a string.<br>
Then loop over the cars list and apply the function to each element.<br>
Expected Output:<br>
<code>Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150</code>

In [54]:
cars = [('blue', 'toyota', 'tundra'), ('green', 'chevy', 'silverado'), ('pink', 'ford', 'f-150')]

def format_car(color, make, model):
    print(f"{color} {make} {model}".title())
    

for car in cars:
    print(car)
    print(type(car))

('blue', 'toyota', 'tundra')
<class 'tuple'>
('green', 'chevy', 'silverado')
<class 'tuple'>
('pink', 'ford', 'f-150')
<class 'tuple'>

In [64]:
for col, mak, mod in cars:
    format_car(col, mak, mod)

Blue Toyota Tundra
Green Chevy Silverado
Pink Ford F-150

In [67]:
def format_car_again(*args):
    output = ""
    for a in args:
        output += a.title() + " "
    print(output)
    
    
format_car_again('2022', 'red', 'toyota', '4-wheel', 'rav-4', 'w/ sunroof')

2022 Red Toyota 4-Wheel Rav-4 W/ Sunroof

## Scope <br>
<p>Scope refers to the ability to access variables, different types of scope include:<br>a) Global<br>b) Function (local)<br>c) Class (local)</p>

##### Returning Values

In [ ]:
# Mathematical Function - y = f(x)
# Where f is the function, x is the input(s), and y is the dependent variable (or the return variable)

In [ ]:
# Return will also immediately terminate the function

#### Multiple returns in a function

##### Difference between `return` and `print`

#### Functions with Lists

#### In-Class Exercise 2

Create a function that takes in the list of tuples ('city', 'country') and a country name and returns a list of the cities in that country

In [ ]:
cities = [
    ("London", "England"), 
    ("Manchester", "England"), 
    ("Barcelona", "Spain"), 
    ("Madrid", "Spain"), 
    ("Rome", "Italy"), 
    ("Florence", "Italy")
]

#### Docstrings

#### Whiteboard Approach

1. What are the input(s)?
2. What are the output(s)?
3. Consider constraints and edge cases
4. Write out steps logically (No python)
5. Pseudocode
6. Code

#### Whiteboard Example

Find Even numbers<br>
Create a function that, given a list as a parameter, finds the even numbers <br>
inside the list. The function should then return a list.<br>
Bonus: Use a list comprehension to find your solution<br>
Example:<br>
Input: [2, 7, 10, 11, 12]<br>
Output: [2, 10, 12]<br>